<%- model_class = User -%>
<% provide(:title, "Profile Edit") %>
<div class="page-header">
  <h1>Update your profile</h1>
</div>
<%= render :partial => 'eform' %>
<%= gravatar_for @user %>
<a href ="http://gravatar.com/emails" class="btn" >Change Gravatar</a>
