<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "DigiTD", welcome_path, id: "logo" %>
        <ul class="nav pull-right">
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "About DigiTD", about_path %></li>
          </ul>
    </div>
  </div>
</div>

